slackclient==1.0.5
google-api-python-client==1.6.2
pymongo==3.4.0
PyDictionary==1.5.2
python-docx==0.8.6
requests==2.13.0
watson-developer-cloud==0.25.2
nltk==3.2.2
Flask==0.12
ChatterBot==0.6.0
twilio==5.6.0